*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, rgb(206, 140, 65), rgb(90, 178, 230));
    padding: 10px;

}

.update.controller{
    display: none;
}











/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, rgb(206, 140, 65), rgb(90, 178, 230));
    padding: 10px;

}

.toDoApp{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 90px auto 0;
    padding: 40px 30px 70px;
    border-radius: 30px;
}

.toDoApp h2{
    color: rgb(13, 29, 122);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 900;

}

.toDoApp h2 img{
    width: 30px;
    margin-left: 10px;
    
}

.container-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.container-input input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;

}

.container-input button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background:#ff5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 43px;
}

.container-list li{
    list-style: none;
    font-size: 17px;
    padding: 10px 10px 10px 50px ;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(image/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

.container-list li.checked{
    color: red;
    text-decoration: line-through;
}

.container-list li.checked::before{
    background-image: url(image/checked.png);
}

.container-list li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 30px;
}

.container-list li span:hover{
    background: #555;
    color: white;
} */